<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a>Invento</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Te has desconectado por inactividad</p>
    
          <form >
            <div class="row">
              <div class="col-12">
                <button routerLink="/login"  class="btn btn-primary btn-block">Volver a iniciar seccion</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->